<template>
  <component :is="layout">
    <router-view></router-view>
  </component>
</template>

<script>
import {computed} from '@vue/composition-api'
import {useRouter} from "@/utils";
import LayoutBlank from "@/layouts/Blank";
import LayoutContent from "@/layouts/Content";

export default {
  name: 'App',

  components: {
    LayoutBlank,
    LayoutContent,
  },

  setup() {
    const {route} = useRouter();
    const layout = computed(() => {
      if (route.value.name === null) return null;
      if (route.value.meta.layout === 'blank') return 'layout-blank';
      return 'layout-content'
    });
    return {layout};
  }
};
</script>
