<template>
  <v-app>
    <TheAppBar/>
    <v-main>
      <slot></slot>
    </v-main>
  </v-app>
</template>

<script>
import TheAppBar from "@/components/TheAppBar";

export default {
  name: "Content",
  components: {TheAppBar}
}
</script>

<style scoped>

</style>
