<template>
  <v-form @submit.prevent="">
    <v-container>
      <v-row>
        <v-col cols="12">
          <v-text-field
              filled
              rounded
              dense
              append-icon="mdi-send"
              :value="inputValue"
              @input='onInput'
              clear-icon="mdi-close-circle"
              clearable
              :label="label"
              type="text"
              @click:append="onSubmit"
              @click:clear="onClear"
          ></v-text-field>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
export default {
  name: "BaseInput",

  props: {
    label: {
      type: String,
      required: false,
      default: "",
    },

    value: {
      type: String,
      required: false,
      default: "",
    },
  },

  data() {
    return ({
      inputValue: this.value,
    })
  },

  methods: {
    onSubmit() {
      this.$emit('submit', this.inputValue);
      this.onClear();
    },

    onInput(event) {
      this.inputValue = event;
      this.$emit("input", this.inputValue);
    },

    onClear() {
      this.inputValue = '';
      this.$emit("input", this.inputValue);
    },
  },
}
</script>

<style scoped>

</style>
