<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-expansion-panels>
          <v-expansion-panel v-for="(question, i) in questions" :key="'question-' + question.id">
            <v-expansion-panel-header>
              <template v-slot:default="{ open }">
                <v-row no-gutters>
                  <v-col cols="10">
                    {{ question.content }}
                  </v-col>
                  <v-col
                      cols="2"
                      class="text--secondary"
                  >
                    <span
                        v-if="!open"
                        :key="0"
                    >
                     {{ getItemsNumber(question.answers) }} réponse(s)
                    </span>
                  </v-col>
                </v-row>
              </template>
            </v-expansion-panel-header>

            <v-expansion-panel-content>
              <v-list>
                <v-list-item v-if="token" :key="'question-answer-form' + question.id + i">
                  <v-list-item-content>
                    <BaseInput label="Répondre" @submit="sendAnswer({questionId: question.id, content: $event})"/>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item v-for="(answer, j) in question.answers" :key="'question-answer-' + answer.id + j">
                  <v-list-item-content>
                    <v-list-item-title>{{ answer.content }}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-expansion-panel-content>
          </v-expansion-panel>

        </v-expansion-panels>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import BaseInput from "@/components/BaseInput";

export default {
  name: "QuestionsList",

  components: {
    BaseInput,
  },

  computed: {
    ...mapGetters("question", ["getQuestions"]),
    token() {
      return this.getToken();
    },
    questions() {
      if (!this.token) return this.getQuestions.filter(question => !!question?.answers?.length);
      return this.getQuestions;
    },
  },

  methods: {
    ...mapActions("question", ["fetchQuestions"]),
    ...mapActions("answer", ["sendAnswer"]),
    ...mapGetters("auth", ["getToken"]),

    getItemsNumber: (array) => array?.length ?? 0,
  },

  async created() {
    await this.fetchQuestions();
  }
}
</script>

<style scoped>

</style>
