<template>
  <v-container>
    <the-drawer :is-drawer-open.sync="isDrawerOpen"></the-drawer>

    <v-app-bar
        app
        flat
        color="primary"
        dark
    >
      <v-app-bar-nav-icon
          class="d-block d-lg-none me-2"
          @click="isDrawerOpen = !isDrawerOpen"
      ></v-app-bar-nav-icon>

      <v-spacer></v-spacer>

      <base-theme-switcher class="ms-6 me-4"></base-theme-switcher>
      <the-app-bar-user-menu></the-app-bar-user-menu>
    </v-app-bar>
  </v-container>
</template>

<script>
import {ref} from '@vue/composition-api'
import TheDrawer from "@/components/TheDrawer";
import BaseThemeSwitcher from "@/components/BaseThemeSwitcher";
import TheAppBarUserMenu from "@/components/TheAppBarUserMenu";

export default {
  name: "TheAppBar",

  components: {
    TheDrawer,
    BaseThemeSwitcher,
    TheAppBarUserMenu,
  },

  setup() {
    const isDrawerOpen = ref(null);

    return {
      isDrawerOpen,
    }
  }
}
</script>

<style scoped>

</style>
