<template>
  <v-menu
      offset-y
      left
      nudge-bottom="14"
      min-width="230"
      content-class="user-profile-menu-content"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-avatar
          size="40px"
          v-bind="attrs"
          v-on="on"
          color="grey lighten-3"
          class="ms-4"
      >
        <v-img :src="avatarUrl"></v-img>
      </v-avatar>
    </template>
    <v-list>
      <div class="pb-3 pt-2" v-if="token">
        <v-avatar size="40px" color="grey lighten-3" class="ms-4">
          <v-img :src="avatarUrl"></v-img>
        </v-avatar>
        <div
            class="d-inline-flex flex-column justify-center ms-3"
            style="vertical-align:middle"
        >
          <span class="text--primary font-weight-semibold mb-n1">
            John Doe
          </span>
          <small class="text--disabled text-capitalize">Admin</small>
        </div>
      </div>

      <v-divider class="my-2" v-if="token"></v-divider>

      <!-- Logout -->
      <v-list-item @click="onAuth">
        <v-list-item-icon class="me-1">
          <v-icon size="22">
            {{ token ? 'mdi-logout' : 'mdi-login' }}
          </v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{ token ? 'Se déconnecter' : 'Se connecter' }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
import {createNamespacedHelpers} from 'vuex-composition-helpers';
import {computed} from "@vue/composition-api";
import {useRouter} from "@/utils";

const {useState: useAuthState, useActions: useAuthActions} = createNamespacedHelpers('auth');

export default {
  name: 'TheAppBarUserMenu',

  setup() {
    const {token} = useAuthState(['token']);
    const {logout} = useAuthActions(['logout']);

    const {router} = useRouter()

    const avatarUrl = computed(() => {
      return token.value ? `https://avatars.dicebear.com/api/avataaars/${Math.random()}.svg?background=%23f3f3f3` : '';
    });

    const onAuth = () => {
      if (!token.value) {
        router.push({name: 'login'});
        return;
      }
      logout();
    }

    return {
      token,
      avatarUrl,
      onAuth,
    }
  },
}
</script>

<style lang="scss">
.user-profile-menu-content {
  .v-list-item {
    min-height: 2.5rem !important;
  }
}
</style>
