<template>
  <v-navigation-drawer
      :value="isDrawerOpen"
      app
      floating
      width="260"
      :right="$vuetify.rtl"
      @input="val => $emit('update:is-drawer-open', val)"
  >
    <!-- Navigation Header -->
    <div class="d-flex items-center ps-6 pe-5 pt-5 pb-2">
      <router-link
          to="/"
          class="d-flex align-center text-decoration-none"
      >
        <v-img
            :src="require('@/assets/logo.svg')"
            max-height="30px"
            max-width="30px"
            alt="logo"
            contain
            eager
            class="app-logo me-3"
        ></v-img>
        <v-slide-x-transition>
          <h2 class="app-title text--primary">
            FAQ
          </h2>
        </v-slide-x-transition>
      </router-link>
    </div>

    <!-- Navigation Items -->
    <v-list
        expand
        shaped
        class="vertical-nav-menu-items pr-5"
    >
      <the-drawer-menu-item
          title="Accueil"
          :to="{ name: 'home' }"
          icon="mdi-home-outline"
      ></the-drawer-menu-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import TheDrawerMenuItem from "@/components/TheDrawerMenuItem";

export default {
  name: "TheDrawer",

  components: {
    TheDrawerMenuItem,
  },

  props: {
    isDrawerOpen: {
      type: Boolean,
      default: null,
    },
  },
}
</script>

<style scoped>
.app-title {
  font-size: 1.25rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.3px;
}
</style>
