<template>
  <v-list-item
      v-bind="$attrs"
  >
    <v-list-item-icon>
      <v-icon
          :class="{'fallback-icon-small': !icon}"
          class="mx-auto"
      >
        {{ icon || 'mdi-checkbox-blank-circle-outline' }}
      </v-icon>
    </v-list-item-icon>

    <v-list-item-title>
      {{ title }}
    </v-list-item-title>
  </v-list-item>
</template>

<script>
export default {
  name: "TheDrawerMenuItem",

  props: {
    title: {
      type: String,
      required: true,
    },
    icon: {
      type: String,
      default: undefined,
    },
  },
}
</script>

<style scoped>
.fallback-icon-small {
  font-size: 14px;
  height: 14px;
  width: 14px;
}
</style>
