<template>
  <v-container>
    <BaseInput label="Poser votre question ici" @submit="onSendQuestion"/>
    <QuestionsList/>
  </v-container>
</template>

<script>
import BaseInput from "@/components/BaseInput";
import QuestionsList from "@/components/QuestionsList";
import {mapActions} from "vuex";

export default {
  name: "Home",

  components: {
    BaseInput,
    QuestionsList,
  },

  methods: {
    ...mapActions("question", ["sendQuestion"]),
    async onSendQuestion(content) {
      await this.sendQuestion({content});
    }
  },

}
</script>

<style scoped>

</style>
