<template>
  <v-container fill-height>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="6">
        <v-card>
          <!-- title -->
          <v-card-title class="d-flex align-center justify-center py-7">
            <router-link to="/">
              <h2 class="text-2xl font-weight-semibold">
                Connexion
              </h2>
            </router-link>
          </v-card-title>

          <!-- login form -->
          <v-card-text>
            <v-form>
              <v-text-field
                  v-model="email"
                  outlined
                  label="Email"
                  placeholder="admin@email.com"
                  hide-details
                  class="mb-3"
              ></v-text-field>

              <v-text-field
                  v-model="password"
                  outlined
                  label="Mot de passe"
                  hide-details
                  :type="isPasswordVisible ? 'text' : 'password'"
                  :append-icon="isPasswordVisible ? 'mdi-eye-off-outline' : 'mdi-eye-outline'"
                  @click:append="isPasswordVisible = !isPasswordVisible"
              ></v-text-field>

              <v-btn
                  block
                  color="primary"
                  large
                  class="mt-6"
                  :disabled="!email || !password"
                  @click="onLogin"
              >
                Se connecter
              </v-btn>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {ref} from '@vue/composition-api'
import {createNamespacedHelpers} from 'vuex-composition-helpers'
import {useRouter} from "@/utils";

const {useActions: useAuthActions} = createNamespacedHelpers('auth')

export default {
  setup() {
    const isPasswordVisible = ref(false)
    const email = ref('')
    const password = ref('')

    const {router} = useRouter()
    const {login} = useAuthActions(['login'])

    const onLogin = async () => {
      const token = await login()
      if (token) router.push({name: 'home'})
    }

    return {
      isPasswordVisible,
      email,
      password,
      onLogin,
    }
  },
}
</script>

<style lang="scss">

</style>
